<section class="display-listing">
    <container class="view-listing">
        <h6> Your Listing </h6>
        <h7> {{listings.make}} </h7>
        <h7> {{listings.model}} </h7>
        <h7> {{listings.mileage}} </h7>
        <h7> {{listings.price}} </h7>
        <section class="listing-description">
            <h7> Description </h7>
            <p> {{listings.description}} </p>

        <section class="post-btn">
            <button class="edit-btn"> Edit </button>
            <button class="delete-btn"> Delete </button>
        </section>

    </container>
</section>